<%= form_for(@lead, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :title %></div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls"><%= f.text_area :description, :rows => 3 %></div>
  </div>
  <div class="control-group">
    <%= f.label :contact, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :contact %></div>
  </div>
  <div class="control-group">
    <%= f.label :telephone, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :telephone %></div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :email %></div>
  </div>
  <div class="control-group">
    <%= f.label :organisation, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :organisation %></div>
  </div>
  <div class="control-group">
    <%= f.label :last_contacted, :class => 'control-label' %>
    <div class="controls"><%= f.text_field :last_contacted %></div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls"><%= f.select :status, Lead::STATES %></div>
  </div>
  <div class="control-group">
    <%= f.label :tag_list, "Tags (separated by commas)", :class => 'control-label' %>
    <div class="controls"><%= f.text_field :tag_list %></div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => "btn" %>
    </div>
  </div>
<% end %>
