<h1>Your leads</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Contact</th>
      <th>Organisation</th>
      <th>Title</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  </tbody>
<% @leads.each do |lead| %>
  <tr>
    <td><%= lead.contact %></td>
    <td><%= lead.organisation %></td>
    <td><%= lead.title %></td>
    <td><%= lead.status %></td>
    <td><%= link_to 'Show', [@user, lead] %></td>
    <td><%= link_to 'Edit', edit_user_lead_path(@user, lead) %></td>
    <td><%= link_to 'Destroy', [@user, lead], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Lead', new_user_lead_path(@user) %>
