<h1>Your leads</h1>

<% content_for :sidebar do %>
  <div id="tag_cloud">
    <% tag_cloud(Lead.tag_counts(current_user.id), %w(s m l)) do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
    <% end %>
  </div>
  
  <hr />
  
  <div id="hiders">
    <label class="checkbox">
      <%= check_box_tag :hide_won, 1, current_user.hide_won %>
      Hide WON
    </label>
    
    <label class="checkbox">
      <%= check_box_tag :hide_dead, 1, current_user.hide_dead %>
      Hide DEAD
    </label>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Lead</th>
      <th>Contact</th>
      <th>Last Contacted</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  </tbody>
<% @leads.each do |lead| %>
  <tr class="lead <%= lead.status.downcase %>">
    <td><%= lead.title %></td>
    <td><%= lead.human_contact %></td>
    <td><%= human_date lead.last_contacted %></td>
    <td><%= lead.status %></td>
    <td><%= link_to 'Show', lead %></td>
    <td><%= link_to 'Edit', edit_lead_path(lead), :class => "btn btn-small" %></td>
    <td><%= link_to 'Delete', lead, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-small" %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Lead', new_lead_path, :class => "btn" %>
