<div class="page-header">
  <h1><%= @lead.title %><br />
  <small><%= @lead.contact %> <%= @lead.organisation %></small></h1>
</div>

<%= simple_format @lead.description %>

<small>
  Tel: <%= @lead.telephone %> |
  Email: <%= @lead.email %> |
  Created: <cite title="<%= @lead.created_at.to_s %>"><%= human_time @lead.created_at %></cite> |
  Status: <%= @lead.status %>
</small>

<h3>Notes</h3>

<% @lead.notes.each do |note| -%>
<blockquote>
  <p><%= simple_format note.body %></p>
  <small><cite title="<%= note.created_at.to_s %>"><%= human_time note.created_at %></cite></small>
</blockquote>
<% end -%>


<%= link_to 'Edit', edit_user_lead_path(@user, @lead) %> |
<%= link_to 'Back', user_leads_path(@user) %> |
<%= link_to 'New Note', new_user_lead_note_path(@user, @lead) %>
