<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/top_navbar' %>
      <%= render 'layouts/alerts' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
